/********** Template CSS **********/
:root {
    --primary: #6222CC;
    --secondary: #FBA504;
    --light: #F6F4F9;
    --dark: #04000B;
}

* {
    overflow-x: hidden !important;
}

@media (min-width: 1400px) {
    .container-xxl {
        max-width: 100% !important;
    }
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

/* .btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
} */

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--light) !important;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg .menu {
        flex-direction: row;
    }
}

.navbar-light .menu .nav-link:hover,
.navbar-light .menu .nav-link.active {
    color: var(--secondary) !important;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: end;
}

.menu p {
    color: #FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.menu a {
    color: #FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .sticky-top.navbar-light {
        position: fixed;
        background: #00000073;
        padding: 15px !important;
        opacity: 0.8;
        backdrop-filter: blur(14px);
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-nav .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }

    .navbar-light .btn {
        color: var(--dark);
        background: #FFFFFF;
    }

    .sticky-top.navbar-light .btn {
        color: var(--dark);
        background: var(--secondary);
    }
}


/*** Hero Header ***/
.hero-header {
    /* margin-bottom: 6rem; */
    padding: 6rem 0;
    /* background: url(../img/blob-top-left.png), url(../img/blob-top-right.png), url(../img/blob-bottom-left.png), url(../img/blob-bottom-right.png), url(../img/blob-center.png); */
    /* background-position: left 0px top 0px, right 0px top 0px, left 0px bottom 0px, right 0px bottom 0px, center center, center bottom; */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
    padding-bottom: 4rem;
    background: linear-gradient(90deg, #232323e8 0%, #232323e8 39.84%, rgb(35 35 35 / 90%) 61.58%);
}

@media (max-width: 991.98px) {
    .hero-header {
        padding: 6rem 0 9rem 0;
    }
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
}

.section-title span:first-child,
.section-title span:last-child {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    width: 30px;
    height: 2px;
}

.banner-first-heading {
    letter-spacing: 2.5px;
    text-align: justify;
    font-family: Urbanist;
    font-size: 30px;
    font-style: normal;
}

.banner-first-para {
    letter-spacing: 2.5px;
    text-align: justify;
    font-family: Urbanist;
}

.banner-btn {
    border-radius: 10px;
    background: var(--o-hi, linear-gradient(224deg, #FBBD35 0%, #FF9BBC 100%));
    padding: 10px 29px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin-bottom: 15px;
}

.banner-set {
    padding-left: 11rem;
    padding-right: 0;
}

.banner-img-set {
    padding-right: 0;
}

/* .banner-imgs{
    position: relative;
    left: 147px;
} */

.android-img {
    margin-bottom: 3px;
}

.ios-img {
    margin-bottom: 6px;
}

.download-now {
    color: #FFF;
    font-family: Lato;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 46.4px;
    letter-spacing: 1.6px;
}

.section-title span:last-child {
    margin-right: 0;
    margin-left: 30px;
}

.section-title span:first-child::after,
.section-title span:last-child::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 2px;
    top: 0;
    right: -20px;
}

.section-title span:last-child::after {
    right: auto;
    left: -20px;
}

.section-title.text-primary span:first-child,
.section-title.text-primary span:last-child,
.section-title.text-primary span:first-child::after,
.section-title.text-primary span:last-child::after {
    background: var(--primary);
}

.section-title.text-secondary span:first-child,
.section-title.text-secondary span:last-child,
.section-title.text-secondary span:first-child::after,
.section-title.text-secondary span:last-child::after {
    background: var(--secondary);
}

.section-title.text-white span:first-child,
.section-title.text-white span:last-child,
.section-title.text-white span:first-child::after,
.section-title.text-white span:last-child::after {
    background: #FFFFFF;
}


/*** Feature ***/
.feature-item {
    transition: .5s;
}

.feature-item:hover {
    margin-top: -15px;
}


/*** About ***/
.progress {
    height: 5px;
}

.progress .progress-bar {
    width: 0px;
    transition: 3s;
}


/*** Fact ***/
.fact {
    margin: 6rem 0;
    background:
        url(../img/blob-top-left.png),
        url(../img/blob-top-right.png),
        url(../img/blob-bottom-left.png),
        url(../img/blob-bottom-right.png),
        url(../img/blob-center.png);
    background-position:
        left 0px top 0px,
        right 0px top 0px,
        left 0px bottom 0px,
        right 0px bottom 0px,
        center center;
    background-repeat: no-repeat;
}


/*** Service ***/
.service-item {
    position: relative;
    padding: 45px 30px;
    background: var(--light);
    overflow: hidden;
    transition: .5s;
}

.service-item:hover {
    margin-top: -15px;
    padding-bottom: 60px;
    background: var(--primary);
}

.service-item .service-icon {
    margin: 0 auto 20px auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    background: url(../img/blob-primary.png) center center no-repeat;
    background-size: contain;
    transition: .5s;
}

.service-item:hover .service-icon {
    color: var(--dark);
    background: url(../img/blob-secondary.png) center center no-repeat;
    background-size: contain;
}

.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF;
}

.service-item a.btn {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 40px 40px 0 0;
    transition: .5s;
    z-index: 1;
}

.service-item a.btn:hover {
    color: var(--dark);
    background: var(--secondary);
}

.service-item:hover a.btn {
    bottom: 0;
}


/*** Team ***/
.team-item .btn {
    color: var(--primary);
    background: #FFFFFF;
}

.team-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}


/*** Footer ***/
.footer {
    background: url(../img/img-g.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: -134px;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
    color: var(--secondary);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
    color: var(--secondary);
}




/* ************AT-A-CAFE-SECTION********** */
.cafe-detail h3 {
    color: #ffffff;
    font-family: Urbanist;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
}

.cafe-detail p {
    color: #FFF;
    font-family: Urbanist;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}

.cafe-section {
    background-image: url('../img/bg-a.webp');
    background-size: 100% 100%;
    position: relative;
    top: -55px;
}

.cafe-detail {
    display: inline-flex;
    padding: 138px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 65px;
    padding-left: 0;
}

/* ************real-life-fame-section********** */
section.real-life-fame-section {
    background: #232323;
    position: relative;
    top: -55px;
}

.cafe-section-2 {
    background-image: url('../img/bg-c.webp');
    background-size: 100% 100%;
    z-index: 1;
}

.real-life-fame-section-2 {
    background: #232323 !important;
    top: -90px !important;
}

.Share-Your-Cafe-section {
    background-image: url('../img/bg-b.webp');
    background-size: 100% 100%;
    position: relative;
    top: -90px;
}

/* ****************Accordain************ */
section.accordain-section {
    background: #232323;
    padding: 35px;
    position: relative;
    top: -91px;
    padding-bottom: 100px;
}

.accordain-section .accordion-button:not(.collapsed) {
    color: #ffffff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
    background: #676767;
}

.accordain-section .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    background-color: #676767;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

h3.faqs {
    color: #FFF;
    text-align: center;
    font-family: Urbanist;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: 1.4px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.accordain-section .accordion-body {
    padding: 1rem 1.25rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), linear-gradient(224deg, #FBBD35 0%, #FF9BBC 100%);
    color: white;
}

a.buttom-logo {
    position: relative;
    top: -11px;
}





.contact-form {
    /* padding: 30px 40px; */
    /* background-color: #ffffff;
    border-radius: 12px; */
    /* max-width: 500px; */
}

.contact-form textarea {
    resize: none;
}

.contact-form .form-input,
.form-text-area {
    background-color: #f0f4f5;
    height: 50px;
    padding-left: 16px;
}

.contact-form .form-text-area {
    background-color: #f0f4f5;
    height: auto;
    padding-left: 16px;
}

.contact-form .form-control::placeholder {
    color: #aeb4b9;
    font-weight: 500;
    opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
}

.contact-form .form-control:focus {
    border-color: #f33fb0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #f33fb0;
}

.contact-form .title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.contact-form .description {
    color: #aeb4b9;
    font-size: 14px;
    text-align: center;
}

.contact-form .submit-button-wrapper {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin: 7px;
    border-radius: 10px;
}

.contact-form .submit-button-wrapper input {
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;
    width: 100%;
    border-radius: 10px;
    background: var(--o-hi, linear-gradient(224deg, #FBBD35 0%, #FF9BBC 100%));

}

.contact-form .submit-button-wrapper input:hover {
    background-color: #d30069;
}


.form-section {
    background-image: url(../img/bg-c.webp);
    background-size: 100% 100%;
    padding: 50px;
    position: relative;
    top: -93px;
    padding-bottom: 90px;

}

.form-buttom-text h3 {
    color: #232323;
    text-align: center;
    font-family: Urbanist;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2px;
}

.last-btn {
    gap: 60px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

h3.form-main-heading {
    color: #FFF;
    text-align: center;
    font-family: Urbanist;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 1.4px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
}




.as .collapse:not(.show) {
    display: inline !important;
}


.accordion-button:not(.collapsed)::after {
    background-image: url('../img/a.png');
    transform: rotate(-180deg);
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("../img/b.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
}